[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  # Set larger timeout for functions that may take time
  included_files = ["addresses.json"]
